{% extends "belly/base.html" %} {% load static %} {% block content %}

<div>
  <input type="number" id="m1" value="{{ m1 }}" hidden />
  <input type="number" id="m2" value="{{ m2 }}" hidden />
  <input type="number" id="m3" value="{{ m3 }}" hidden />
  <input type="number" id="m4" value="{{ m4 }}" hidden />
  <input type="number" id="m5" value="{{ m5 }}" hidden />
  <input type="number" id="f1" value="{{ f1 }}" hidden />
  <input type="number" id="f2" value="{{ f2 }}" hidden />
  <input type="number" id="f3" value="{{ f3 }}" hidden />
  <input type="number" id="f4" value="{{ f4 }}" hidden />
  <input type="number" id="f5" value="{{ f5 }}" hidden />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <canvas width="500px" height="200px" id="myChart"></canvas>
</div>

<script>
  var m1 = document.getElementById("m1").value;
  var m2 = document.getElementById("m2").value;
  var m3 = document.getElementById("m3").value;
  var m4 = document.getElementById("m4").value;
  var m5 = document.getElementById("m5").value;
  var f1 = document.getElementById("f1").value;
  var f2 = document.getElementById("f2").value;
  var f3 = document.getElementById("f3").value;
  var f4 = document.getElementById("f4").value;
  var f5 = document.getElementById("f5").value;
  const data1 = [m1, m2, m3, m4, m5];
  const data2 = [f1, f2, f3, f4, f5];
  var ctx = document.getElementById("myChart");

  new Chart(ctx, {
    type: "line",
    data: {
      labels: ["1 - 12", "13 - 21", "22 - 45", "46 - 60", "> 60"],
      datasets: [
        {
          label: "Male",
          data: data1,
          borderWidth: 1,
          borderColor: "rgb(255, 99, 132)",
        },
        {
          label: "Female",
          data: data2,
          borderWidth: 1,
          borderColor: "rgb(75, 192, 192)",
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
</script>
{% endblock %}
