{% extends "belly/base.html" %} {% load static %} {% block content %}

<form method="POST">
  {% csrf_token %}
  <h1 class="text-center">LOGIN</h1>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" name="email" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input
      type="password"
      id="form2Example2"
      name="password"
      class="form-control"
    />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- Submit button -->
  <button
    type="submit"
    class="btn btn-block mb-4"
    style="background-color: #fcba56"
  >
    Sign in
  </button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="{% url 'sign-up' %}">Register</a></p>
  </div>
</form>
{% endblock %}
